html, body {
  margin: 0;
  width: 100%;
  color: black;
}
body 
{
  background-color: #03A9f4;
  font-family: "Roboto", sans-serif;
}
.banniere
{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  height: 50%;
}
img
{
  height:50%;
  width: 50%;
}
.form-group
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5px;
}
.form-control
{
	width: 80%;
}
section
{
	width: 80%;
	display: flex;
	margin-left: 10%;
}
.crée
{
	text-align: center;
	margin-top: 10px;
}
footer
{
 display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 6px;
  justify-content: center;
}